<%- include('partials/_header') %>

<body>
  <h1>Time to register!</h1>
  <form action="/register" method="POST">
    <input type="email" name="email" placeholder="Type your email">
    <input type="password" name="password" placeholder="Type your password">
    <button type="submit">Log in!</button>
  </form>
</body>